TELEGRAM_TOKEN=TOKEN_DE_TU_BOT

AUTHORIZED_CHAT_IDS=6718944855,8893414961

SUPABASE_URL=https://crujlbbhtkcithullgfs.supabase.co

SUPABASE_KEY=TU_SUPABASE_KEY

PUBLIC_BASE_URL=https://TU-DOMINIO.up.railway.app
