# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables privadas
.env
.env.*

# Excepción: plantilla
!.env.example

# Entornos virtuales
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
